html {
  height: 100%; }

body {
  height: 100%;
  margin: 0px;
  background-image: linear-gradient(180deg, black, #101214);
  background-attachment: fixed;
  background-size: 100%;
  line-height: 16px;
  font-family: "droid sans";
  color: white; }

ul#action_bar {
  height: 45px;
  margin: 0px;
  padding: 0px;
  background-color: #222222;
  border-top: 1px solid #393939;
  border-bottom: 2px solid #1a1a1a; }
  ul#action_bar li {
    display: inline-block;
    float: left; }
    ul#action_bar li.right {
      float: right; }
    ul#action_bar li h1 {
      margin: 0px;
      padding: 8px 0;
      text-indent: 16px;
      line-height: 32px;
      font-size: 32px; }
    ul#action_bar li a img {
      padding: 7px 8px 6px; }

h2 {
  display: inline-block;
  padding: 12px 8px;
  text-indent: 16px;
  line-height: 24px;
  font-size: 24px;
  border-bottom: 2px solid #0099cc; }
  h2.ok {
    border-color: #669900; }
  h2.error {
    border-color: #cc0000; }

p {
  padding: 0 8px;
  text-indent: 16px;
  line-height: 16px;
  font-size: 14px;
  text-align: justify; }

pre {
  margin-left: 16px;
  padding: 0 8px;
  line-height: 16px;
  font-size: 14px;
  color: #4d4d4d;
  border-left: 4px dashed #4d4d4d; }

ul.tab {
  display: block;
  height: 48px;
  margin: 0px;
  padding: 0px;
  clear: both;
  background-color: #333333; }
  ul.tab li {
    display: inline-block;
    margin: 0px;
    margin-left: -4px;
    padding: 0px;
    color: white;
    font-weight: bold;
    border-width: 0; }
    ul.tab li:not(:first-of-type) {
      border-left-width: 1px;
      border-image: linear-gradient(0deg, #333333 12px, #424242 12px, #424242 36px, #333333 36px) 3 stretch; }
    ul.tab li a {
      display: block;
      height: 16px;
      padding: 16px 32px;
      color: white;
      text-decoration: none; }
      ul.tab li a:hover {
        background-color: #383838; }
      ul.tab li a:visited {
        color: #FFFFFF; }
