@import "color";

ul.tab{
	display: block;
	height: 48px;
	margin: 0px; padding: 0px;
	clear: both;
	background-color: $tab;
	li{
		display: inline-block;
		margin: 0px; margin-left: -4px; padding: 0px;
		color: white; font-weight: bold;
		border-width: 0;
		&:not(:first-of-type){
			border-left-width: 1px;
			border-image: linear-gradient(0deg, $tab 12px, $tab_bd 12px, $tab_bd
			36px, $tab 36px) 3 stretch;
		}
		a{
			display: block;
			height: 16px;
			padding: 16px 32px;
			color: white;
			text-decoration: none;
			&.selected{
				padding-bottom: 14px;
				border-bottom: 2px solid $blue1;
			}
			&:hover{
				background-color: lighten($tab, 2%);
			}
			&:visited{
				color: #FFFFFF;
			}
		}
	}
}
