@import "color";

ul.tab{
	display: block;
	height: 48px;
	margin: 0px; padding: 0px;
	clear: both;
	background-color: $tab;
	li{
		display: inline-block;
		margin: 0px; padding: 16px 32px 16px 0px;
		border-style: solid; border-width: 0px;
		color: white;
		font-weight: bold;
		&:first-of-type{
			padding-left: 16px;
		}
		&:not(:first-of-type)::before{
			content: "";
			display: inline-block;
			width: 1px; height: 24px;
			margin: -4px 32px -4px 0;
			background: $tab_bd;
			vertical-align: middle;
		}
		a{
			color: white;
			text-decoration: none;
			&:visited{
				color: #FFFFFF;
			}
		}
	}
}
